.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12vh 12vh 12vh 12vh;
}

.googleButton {
  margin-top: "5%";
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.TextStyle {
  padding-top: 12px;
  color: #141b2d;
}
.TextBoxStyle {
  min-height: 30px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 4px 0;
  border: 5px;
  border-color: #282c34;
  border-radius: 4px;
  cursor: pointer;
}

.ButtonStyle {
  background-color: #282c34;
  width: 100%;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.LoginContainer {
  background-color: white;
  display: block;
  width: fit-content;
  height: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 2vh;
}

.DarkMenuItem {
  margin: "10px 0 20px 0";
  color: #e0e0e0;
}
.LightMenuItem {
  margin: "10px 0 20px 0";
  color: #141414;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  padding-top: 50px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
